 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}




.container,.container-fluid{margin-right:auto;margin-left:auto}.container-fluid{padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-.5rem;margin-left:-.5rem}.row.reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.col.reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-xs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-xs-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-xs-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-xs-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-xs-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-xs-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-xs-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-xs-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-xs-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-xs-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-xs-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-xs-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-xs-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-xs-offset-0{margin-left:0}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-11{margin-left:91.66666667%}.start-xs{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-xs{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-xs{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-xs{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-xs{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-xs{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-xs{-ms-flex-pack:distribute;justify-content:space-around}.between-xs{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-xs{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-xs{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}@media only screen and (min-width:48em){.container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-sm{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-sm-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-sm-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-sm-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-sm-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-sm-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-sm-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-0{margin-left:0}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-11{margin-left:91.66666667%}.start-sm{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-sm{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-sm{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-sm{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-sm{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-sm{-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-sm{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-sm{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}@media only screen and (min-width:64em){.container{width:65rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-md{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-md-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-md-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-md-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-md-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-md-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-md-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-md-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-md-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-md-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-md-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-md-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-md-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-md-offset-0{margin-left:0}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-11{margin-left:91.66666667%}.start-md{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-md{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-md{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-md{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-md{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-md{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-md{-ms-flex-pack:distribute;justify-content:space-around}.between-md{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-md{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-md{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}@media only screen and (min-width:75em){.container{width:76rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-0,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-lg{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-lg-1{-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-lg-2{-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}.col-lg-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-lg-4{-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-lg-5{-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-lg-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-lg-7{-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}.col-lg-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}.col-lg-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-lg-10{-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-lg-11{-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-lg-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-lg-offset-0{margin-left:0}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-11{margin-left:91.66666667%}.start-lg{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-lg{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-lg{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-lg{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.middle-lg{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bottom-lg{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-lg{-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.first-lg{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-lg{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}
:root{
	--dark-color: rgba(38,29,29,1);
	--light-color: rgba(223,191,26,1);
	--bold-color: rgba(216,0,39,1);
	--transparent-dark: rgba(37,31,31,0.8);
}
body{
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size:14px;*/
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height: 1.5em;
	background-color: var(--dark-color);
}
#welcome{
	position: relative;
	width:100%;
	height:100vh;
	background: url('assets/welcome-pic.jpg');
	background-size: cover;
	background-position: center;
}
#menu-btn{
	position: fixed;
	z-index:1000;
	top:3em;
	right:1em;
	height:48px;
	transition: 0.5s;
}
#welcome .red-icon{
	height:18px;
}
.info-box{
	position: absolute;
	height:250px;
	width:300px;
	top:30vh;
	color:white;
	background-color: var(--transparent-dark);
	text-align: center;
}
.action-btn{
	position: absolute;
	bottom:0;
	width:50%;
	height:80px;
	box-sizing: border-box;
	background-color:var(--bold-color);
}
#directions-btn{
	border-right:1px solid rgba(255,255,255,0.5);
}
#call-btn{
	border-left:1px solid rgba(255,255,255,0.5);
	right:0;
}
.action-btn-icon{
	position: absolute;
	height:24px;
	width:24px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.action-btn-icon path{
	fill:white;
}
h1{
	font-size:32px;
	font-family: 'Courgette', cursive;
}
h2{
	font-size:26px;
}
h3{
	font-size: 22px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-size: 16px;
}
.info-box h2{
	margin-bottom:1em;
	font-family: 'Courgette', cursive;
}
.center{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
#logo{
	position: absolute;
	height:100px;
	top:1em;
	left:1em;
}
section{
	padding:5em 1em;
	background-color:var(--dark-color);
}
#our-story{
	background-color: var(--dark-color);
	text-align: center;
}
.subheader{
	text-align: center;
	font-family: 'Courgette',cursive;
	margin-bottom:2em;
}
.subheader span{
	color:var(--light-color);
}
#our-story img{
	height:118px;
	width:125px;
	margin-bottom:1em;
}
#our-story p{
	text-align: justify;
}
#signature-pizzas{
	background:url('assets/wood-table.jpg');
	background-size: cover;
}
/*slideshow circle container*/
.circle{
    width: 120px; 
    height: 150px;
    text-align: center;
    margin: 0 auto;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    visibility: hidden;
/*    padding-top: 4em;*/
}
.circle.selected{
 /* display: block;*/
  visibility: visible;
}
/*Slideshow dots*/
#dots {
  width:100%;
  position: absolute;
  bottom:0;
  text-align: center;
}
#dots > span{
  width:10px;
  height:10px;
  background-color:white;
  margin:2px;
  display: inline-block;
  border-radius: 100%
}
#dots > .selected{
  background-color:var(--bold-color); 
}
.arrow-btn{
	height:30px;
}
.arrow-btn.right{
	-webkit-transform:scaleX(-1);
	transform: scaleX(-1);
}
/*slideshow*/
#slideshow{
  width:100%;
  height: 300px;
}
#slideshow .arrow-btn{
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
}
/*Slideshow left arrow*/
#slideshow > img:nth-child(1){
    left: 1em;
}
/*slideshow right angle*/
#slideshow > img:last-of-type{
    right: 1em;
}
#slideshow .arrow-btn:hover{
    background-color: var(--main-color);
    padding: 0.5em 0;
    border-radius: 2px;
}
.circle img{
	height:100px;
	width:100px;
	border-radius: 50%;
    border: 10px solid black;
}
#slideshow p{
	padding-top:1em;
}
.menu-card{
	position: relative;
	width:144px;
	height:204px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin:0 auto;
}
#main-menu{
	background: url('assets/menu.jpg');
	background-size: cover;
}
#our-menus{
	background-color: var(--dark-color);
}

.menu-card h4{
	position: absolute;
	text-align: center;
	background-color: var(--bold-color);
	padding:1em 0;
	bottom:0;
	width:100%;
}
#dining-menu{
	background: url("assets/dining.jpg");
	background-size: cover;
}
#catering-menu{
	background: url("assets/catering.jpg");
	background-size: cover;
}
#dining-menu{
	margin-top:3em;
	margin-bottom:3em;
}
.emphasis{
	font-family: 'Courgette', cursive;
	font-size:48px;
}
#reviews{
	position: relative;
	background-color: var(--dark-color);
	text-align: center;
	margin:0 auto;
	max-width:400px;
}
#reviews .picture{
	height:100px;
	width:100px;
}
#reviews #dots{
	padding-top:3em;
}
#picture-one{
	background: url("assets/face.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 4em auto;
}
#picture-two{
	background: url("assets/face2.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 4em auto;
}
#picture-three{
	background: url("assets/face3.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 4em auto;
}
.name{
	padding-top:2em;
	font-weight:300;
}
.current-page{
	color:var(--light-color);
}
footer{
	background-color:var(--dark-color);
	border-top:1px solid white;
	text-align: center;
	padding-top:3em;
	padding-bottom:3em;
}
footer ul li{
	padding:1em;
}
footer a{
	color:white;
	text-decoration-line: none;
	font-size: 12px;
}
footer > img{
	height:100px;
	width: 100px;
}
footer p{
	font-size:12px;
}
.slideshow-container{
	height:340px;
	width: 100%;
	position: relative;
}
.dot{
	height:10px;
	width:10px;
	margin:0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active{
	background-color: var(--bold-color);
}
/* Fading animation */
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name:fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade{
	from {opacity: .4;}
	to {opacity: 1}
}
@keyframes fade{
	from {opacity: .4;}
	to {opacity: 1}
}
.header-container{
	background:url("assets/wood-table.jpg");
	background-size: cover;
	height:50vh;
	box-sizing: border-box;
	position: relative;
}
.header-container h1{
	width:100%;
	height:35px;
	text-align: center;
	padding-top:3em;
}
.banner{
	width:100%;
	height:100px;
	position: relative;
	margin-bottom: 3em;
}
.menu-content{
	padding:0;
	padding-bottom: 3em;
}
.menu-content h2{
	height:22px;
	margin-bottom:auto;
}
#pizzas > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/margherita-pizza.jpg");
	background-position: center;
}
#appetizers > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/catering.jpg");
	background-size: cover;
	background-position: center;
}
#salads > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/salad.jpg");
	background-size: cover;
	background-position: center;
}
#entrees > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/entree.jpg");
	background-size: cover;
	background-position: center;
}
#desserts > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/dessert.jpg");
	background-size: cover;
	background-position: 50% 70%;
}
#beverages > .banner{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("assets/beverage.jpg");
	background-size: cover;
	background-position: center;
}
#about-content{
	text-align: center;
}
#about-content img{
	height:121px;
	width:163px;
}
#about-content  h3 span{
	font-size: xx-large;
	color:rgba(196,196,196,.9);
}
#about-content p{
	text-align: left;
	text-indent: 2em;
	line-height: 1.5em;
}

.yellow{
	background-color: var(--light-color);
	color:black;
	width:70%;
	margin:0 auto;
	padding:1em;
	z-index:10;
	position: relative;
	text-align: left;
}
#contact-content > img{
	width:200px;
	height:250px;
}
.wrapper img{
	width:70%;
	z-index:0;
}
.black{
	width:20px;
	height:20px;
}
.black path{
	fill:black;
}
.myContainer{
	transition: 0.5s;
}
.shift-left{
	transform: translateX(-180px);
}
#mobile-menu-container{
	position: fixed;
	width:180px;
	height:100vh;
	background-color:black;
	transition: 0.5s;
	right:-180px;
	text-align: center;
}
#mobile-menu-container img{
	padding-top:2em;
}
#mobile-menu-container a{
	color: white;
    text-decoration: none;
    padding: 1em;
}
#menu-bar{
	display: none;
}
.signature-pizzas-desktop{
	display: none;
}
@media only screen and (min-width: 768px){
	.content{
		width:600px;
		margin:0 auto;
	}
	#our-story img{
		height:218px;
		width:225px;
		float:left;
		padding-right:2em;
		padding-bottom:0.5em;
		margin-bottom:0;
	}
	#dining-menu{
		margin-top:0;
		margin-bottom:0;
	}
	#about-content img{
		height:221px;
		width:263px;
		float:left;
		padding-top:5em;
		padding-right:2em;
	}
	.banner{
		height:150px;
	}
	.yellow{
		width: 300px;
	    position: absolute;
	    bottom: 3em;
	    right: 4em;
	}
}
@media only screen and (min-width: 1024px){
	a{
		font-size:14px !important;
	}
	#menu-btn{
		display: none;
	}
	#logo{
		display: none;
	}
	#menu-bar{
		display: block;
		text-align: center;
	}
	#menu-bar a{
		color:white;
		text-decoration: none;
		font-size:24px;
	}
	#menu-bar td{
		position: relative;
		vertical-align: middle;
		padding:0 2em 0 2em;
	}
	#menu-bar img{
		height:150px;
		width:150px;
	}
	#menu-bar table{
		margin:0 auto;
	}
	#menu-bar #lasso{
		width:100%;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
	}
	h1{
		font-size:32px;
		font-family: 'Courgette', cursive;
	}
	h2{
		font-size:36px;
	}
	h3{
		font-size: 28px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 20px;
	}
	h6{
		font-size: 18px;
	}
	p{
		font-size: 18px;
		line-height: 1.5em;
	}
	footer p{
		font-size: 14px;
	}
	.info-box{
		height: 280px;
    	width: 450px;
    	top:35vh;
	}
	.menu-card{
		width: 244px;
    	height: 354px;
	}
	.slideshow-container{
		height:480px;
	}
	#reviews .picture{
		height:150px;
		width:150px;
	}
	.emphasis{
		font-size: 78px;
    	height: 80px;
	}
	.dot{
		height: 15px;
	    width: 15px;
	    margin: 0 8px;
	}
	#slideshow{
		display: none;
	}
	.circle img{
		height:150px;
		width:150px;
	}
	.circle{
		width:100%;
		height: 100%;
		position: relative;
		visibility: visible;
	}
	.signature-pizzas-desktop{
		display: block;
	}
	.signature-pizzas-desktop .row{
		padding:3.5em 0;
	}
	.action-btn{
		display: none;
	}
	.header-container{
		padding-top:1em;
		height:500px;
	}
	.yellow{
		width:400px;
		padding:3em 0 3em 3em;
	}
	.wrapper img{
		width: 722px;
	}

}